<!DOCTYPE html>
<html>
<head>
	<title>Cloud Hack</title>
	  <!-- Compiled and minified CSS -->
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/detailsUser.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="container">
	<div class="row">
	<table class="striped">
		<thread>
			<tr class="center-text">
				<th data-field="sno">S.No</th>
				<th data-field="bno">Bill No.</th>
				<th data-field="item">Item</th>
				<th data-field="dop">Date of Purchase</th>
				<th data-field="warr">Warranty</th>
				<th data-field="service">Service Center</th>
			</tr>
		</thread>
	</table>
	</div>
</div>






</body>