<!DOCTYPE html>
<html>
<head>
	<title>Cloud Hack</title>
	  <!-- Compiled and minified CSS -->
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/detailsUser.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="container">
	<div class="row">
	<table class="striped">
		<thread>
			<tr class="center-text">
				<th data-field="bno">Bill No.</th>
				<th data-field="item">Item</th>
				<th data-field="dop">Date of Purchase</th>
				<th data-field="warr">Warranty</th>
				<th data-field="service">Service Center</th>
			</tr>
		</thread>
		<tbody>
			{% for b in Bill %}
				<tr>
				<td>{{ b.id }}</td>
				<td>{{ b.description }}</td>
				<td>{{ b.date }}</td>
				<td>{{ b.warranty }}</td>
				<td><button><a href="#">Service Center</a></button></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
</div>

<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  	<script type="text/javascript" src="../static/js/detailsUser.js"></script>
</body>
</html>