 <!DOCTYPE html>
<html>
<head>
	<title>Cloud Bill</title>
	  <!-- Compiled and minified CSS -->
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/home.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="blue white-text">
<header class="blue darken-4">
<div class="blue darken-4">
	<nav>
		<div class="nav-wrapper blue darken-4">
			<a href="#" class="brand-logo">Cloud Bill</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="userlogin">User Login</a></li>
				<li><a href="userregister">User Register</a></li>
				<li><a href="userlogin">Merchant Login</a></li>
				<li><a href="userregister">Merchant Register</a></li>
			</ul>
		</div>
	</nav>
</div>
</header>
<main class="blue darken-2">
<div class="container">
	<div class="row" style="text-align: center;">
		<h1>Digital Ocean Hackathon</h1>
		<h4>Team Codesthesia</h4>	
	</div>
	<div class="row">
		<div class="col offset-m2 m8 offset-l2 l8 s12">
			<h4>IDEA</h4>
			<p style="text-align: justify;">
			To reduce the paper trail generated in the retail industry by creating a central bill storage location. This app creates a unique user dashboard which contains the bill details of all the purchases made by the user.
			</p>
			<p style="text-align: justify;">
			The app allows the user to get a list of all the service centres associated with that product via Google Maps and also a PDF format is created from the web form during the time of bill generation
			</p>
		</div>
	</div>
</div>
<!--div class="row blue white-text" style="text-align: center;">
		<h5><a href="https://github.com/ProgrammingDiary/CloudHack">View it on github.</a></h5>
	</div-->	
</main>
<!--footer class="blue">
	<!--div class="row blue white-text" style="text-align: center;">
		<h5><a href="https://github.com/ProgrammingDiary/CloudHack">View it on github.</a></h5>
	</div>	
</footer-->
	







	  <!-- Compiled and minified JavaScript -->
	

<script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
          
</body>
</html>