 <!DOCTYPE html>
<html>
<head>
	<title>Cloud Hack</title>
	  <!-- Compiled and minified CSS -->
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/home.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="brown darken-1 white-text">
<header>
<div class="light-green accent-4">
	<nav>
		<div class="nav-wrapper brown darken-4">
			<a href="#" class="brand-logo">Something</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="userlogin">Login</a></li>
				<li><a href="merchantlogin">Register</a></li>
			</ul>
		</div>
	</nav>
</div>
</header>
<main class="brown darken-1">
<div class="container">
	<div class="row">
		
	</div>
</div>
</main>
<footer>
	<div class="row brown darken-4">
		
	</div>	
</footer>
	







	  <!-- Compiled and minified JavaScript -->
	

<script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
          
</body>
</html>