<!DOCTYPE html>
<html>
<head>
	<title>User Login</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/loginMerchant.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="grey lighten-3 white-text">
<div class="container">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}
	<div class="row">
		<form class="col s12 offset-m3 m6 offset-l3 l6 z-depth-4 blue darken-3" id="loginForm" method="POST" action="/loginmerchant">
			<div class="row">
				<div class="row center-align">
					<h1 class="white-text">Merchant Login</h1>
				</div>
				<div class="col s12 m12 l12 input-field">
					<i class="material-icons prefix">email</i>
					<input placeholder="Full Name" id="email" name="email" type="text" class="validate">
					<label for="email">E-Mail</label>
				</div>
				<div class="col s12 m12 l12 input-field">
					<i class="material-icons prefix">vpn_key</i>
					<input id="password" name="password" type="password" class="validate">
					<label>Password</label>
				</div>
			</div>
		</form>
		<div class="row">
		<div class="col offset-m3 m6 offset-l3 l6 s12" style="padding-top: 1em">
		<button class="btn waves-effect waves-light blue darken-4" form="loginForm" type="submit" method="POST">Submit
    		<i class="material-icons right">send</i>
  		</button>
  		</div>
  		</div> 
	</div>
</div>
<script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>
</html>