<!DOCTYPE html>
<html>
<head>
	<title>Merchant Register</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/registerUser.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="green darken-3">
<div class="container brown darken-4 white-text">
	<div class="row">
	<h1 class="center-align">Register Merchant</h1>
		<form class="col s12 m12 l12" id="registrationForm" action="/registermerchant" method="POST">
			<div class="row">
				<div class="col s12 m12 l12 input-field">
					<i class="material-icons prefix">account_circle</i>
					<input placeholder="Full Name" id="fullname" name="fullname" type="text" class="validate">
					<label for="fullname">Full Name</label>
				</div>
				<div class="col s12 m12 l12 input-field">
					<i class="material-icons prefix">call</i>
					<input type="text" placeholder="Mobile No." id="mobileno" name="mobileno" class="validate">
					<label for="mobileno">Mobile Number</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m12 l12 input-field">
					<i class="material-icons prefix">email</i>
					<input placeholder="E-Mail ID" type="text" id="email" name="email" class="validate">
					<label for="email">E-Mail ID</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m12 l12 input-field">
					<i class="material-icons prefix">location_city</i>
					<input placeholder="Address" type="text" id="address" name="address" class="validate">
					<label for="address">Address</label>
				</div>
				<div class="col s12 m12 l12 input-field">
					<i class="material-icons prefix">work</i>
					<input placeholder="Company Name" type="text" id="company" name="company" class="validate">
					<label for="company">Company</label>
				</div>
				<div class="col s12 m12 l12 input-field">
					<i class="material-icons prefix">vpn_key</i>
					<input id="password" name="password" type="password" class="validate">
					<label>Password</label>
				</div>
		</form>
		<button class="btn waves-effect waves-light brown darken-1" form="registrationForm" type="submit">Submit
    		<i class="material-icons right">send</i>
  		</button> 
	</div>
</div>
<script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>
</html>